*.doc
*.docx
*.txt
.idea/chatbot.iml
.idea/misc.xml
.idea/misc.xml
*.iml
*.iml

*.htm

indexdir/_MAIN_1.toc

indexdir/MAIN_ujzo03mpg05f7kk1.seg

indexdir/MAIN_WRITELOCK

.idea/chatbot.iml

.idea/misc.xml

*.iml

.idea/misc.xml

电缆终端.html

.idea/chatbot.iml

.idea/misc.xml

indexdir/MAIN_thw80sbkph1u7g03.seg
