*.doc
*.docx
*.txt
.idea/chatbot.iml
.idea/misc.xml
.idea/misc.xml
*.iml
*.iml

*.htm

indexdir/_MAIN_1.toc

indexdir/MAIN_ujzo03mpg05f7kk1.seg

indexdir/MAIN_WRITELOCK

.idea/chatbot.iml

.idea/misc.xml

*.iml

.idea/misc.xml

电缆终端.html

.idea/chatbot.iml

.idea/misc.xml

indexdir/MAIN_thw80sbkph1u7g03.seg
*.thmx
doc/zlxx/11-R1 10kV联络电缆抱箍及载流量质量信息反馈单.files/filelist.xml
indexdir/MAIN_w5gcd95yewokh2h6.seg
*.xml
